* {
  /* margin: 10px; */
  padding: 1px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  border-radius: 10px;
}
.righ_header .icon {
  padding: 0;
}
