* {
  padding: 0%;
  margin: 0%;
}
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: #f8fafc;
  color: #111827;
}
.container {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 10px;
  /* position: fixed;
  width: 100%;
  z-index: 999; */
}

header .left_header,
.right_header {
  display: flex;
  align-items: center;
  gap: 40px;
}
svg {
  cursor: pointer;
}
.discoverbutton {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  color: #111827;
  border: none;
  background: transparent;
  border-radius: 999px;
  cursor: pointer;
}
.discoverbutton:hover {
  background: #f1f1f1;
}

.discoverbutton svg {
  fill: #111827;
}
.righ_header {
  display: flex;
  align-items: center;
}

.righ_header > div {
  display: flex;
  align-items: center;
  gap: 14px;
}
.righ_header button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
}
.profilUser {
  border: 1px solid grey;
  background: transparent;
  cursor: pointer;
  border-radius: 999px;
}
.profilUser button {
  background: transparent;
  border-radius: 999px;
  cursor: pointer;
  padding: 2px 2px;
}
.profilUser:hover {
  background: #f1f5f9;
  background-color: red;
}

.icon {
  fill: #111827;
}
button.icons {
  display: flex;
  align-items: center;
}
button.icons img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 4px;
}
#menu-icon {
  display: none;
}
@media (max-width: 768px) {
  header {
    gap: 10px;
    display: flex;
  }
  header > div {
    gap: 20px;
  }
  header .discoverbutton,
  .icon1 {
    display: none;
  }
  .icon1.user {
    border-radius: none;
  }
  #menu-icon {
    display: block;
    font-size: 30px;
  }
  .inputGroup.labelinput,
  .search-btn {
    display: none;
  }
  .profilUser {
    border: none;
  }
}
/* hero */
.Hero {
  height: 70vh;
  background-image: url("https://dynamic-media.tacdn.com/media/photo-o/31/e4/6e/9f/caption.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
  max-width: 900px;
}

.hero-content h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.search-box {
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: #000;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  flex: 1;
}

.inputGroup label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 3px;
}

.inputGroup input {
  border: none;
  outline: none;
  font-size: 1rem;
}

.divider {
  width: 1px;
  height: 40px;
  background: #ddd;
}

.search-btn {
  background: #008060;
  color: #fff;
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}

.search-btn:hover {
  background: #006d52;
}
.blog {
  background-color: #484a54;
  padding: 20px 3px;
  position: absolute;
  right: 0%;
  top: 74%;
  opacity: 0.6;
}
.blog a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  display: block;
}
.blog a:hover {
  text-decoration-line: underline;
}
.circle1,
.circle2,
.circle3 {
  border: 2px solid white;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
}
.circle1 {
  top: 80%;
  left: 48%;
}
.circle2 {
  top: 80%;
  left: 49%;
  margin-left: 4px;
  background-color: white;
}
.circle3 {
  top: 80%;
  left: 50%;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
  }

  .search-box {
    flex-direction: column;
    border-radius: 20px;
  }

  .divider {
    display: none;
  }

  .search-btn {
    margin-top: 15px;
  }
  .blog {
    display: none;
  }
  .login-manage {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7eeff;
    border-radius: 10px;
    width: 100%;
    margin: 1px 10px;
    padding: 26px 10px;
    line-height: 6vh;
  }
  .login-manage div {
    justify-content: center;
    align-items: center;
  }

  .feature {
    flex-direction: column;
  }
  .feature .customer {
    line-height: 2vh;
  }
  .Destinatin h1 {
    margin: 2rem auto;
    font-weight: 100;
    font-size: large;
  }
  .Destinatin .image-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .Destinatin .image-container {
    width: 100%;
    height: auto;
  }
}
/* Navbar */
.Navbar {
  margin-bottom: 10vh;
}
.books > p {
  text-align: center;
  font-size: x-large;
  padding: 20px;
  font-weight: 600;
  word-spacing: 5px;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: beige; */
}
.feature .customer {
  width: auto;
  line-height: 5vh;
  text-align: center;
}
.login-manage {
  margin: 10vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7eeff;
  border-radius: 10px;
  width: 90%;
  padding: 26px 10px;
  margin: 12px 3rem;
  line-height: 6vh;
}
.login-manage a {
  color: black;
  font-weight: 400;
}
.login-manage button {
  padding: 0.9rem 10rem;
  background-color: #333333;
  color: #ffffff;
  font-weight: 700;
  border-radius: 10px;
  border: none;
}
.line {
  border-top: 1px solid #333;
  width: 30%;
  margin: 15px 0px;
}

.parline {
  display: flex;
  text-align: center;
  justify-content: center;
}
.parline span {
  text-decoration: underline;
}
.parline p {
  margin: 2px;
  padding: 0px 20px;
}
.Destinatin {
  margin: 2rem 5rem;
}
.Destinatin h1 {
  text-align: center;
  margin: 4rem;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.image-container div {
  position: relative;
}
.image-container img {
  width: 100%;
  height: 9rem;
  border-radius: 10px;
}
.image-container p {
  box-shadow: 2px 10px 15px rgba(0, 0, 0, 0.2);
  color: white;
  position: absolute;
  bottom: 60px;
  left: 33%;
  margin: 0;
  padding: 5px 10px;
  font-weight: bold;
  font-size: x-large;
  opacity: 0.9;
}
